.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(135,152,172,255);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px;
}

a {
    color:white;
}
