<div class = "container">
    <h2>Products</h2>
    <div *ngFor="let product of products; let i = index" class = "box">
        <div class="box3">
            <button (click)="toLeft(i)" class="btn-to-left"> < </button>
            <img src="{{product.image[product.curImage]}}" [routerLink]="['/categories', categoryIdFromRoute, '/products', product.id]" class="img-product">
            <button (click)="toRight(i)" class="btn-to-right"> > </button>
        </div>
        <div class="box2">
            <button (click)=openLink(product.link) class="name">
                <strong>{{product.name}}</strong>
            </button>
            <p>
                <strong>Description:</strong> {{product.description}}
            </p>
            <div class = "rating">
                <small><strong>Rating: {{product.rating}}</strong></small>
                <li *ngFor="let item of createRange(product.rating);">
                    <img src = "./assets/images/rating-removebg.png" class = "star">
                </li>
            </div>
            <div class = "like">
                <small><strong>Likes: {{product.like}}</strong></small>
                <img src="./assets/images/heart.png" alt="" width="20px" *ngIf="product.isLiked">
            </div>
            <div class="btns-box">
                <button (click)="share(i)" class="share-button">
                    Share
                </button>
                <div *ngIf="product.share" class="share">
                    <a href="whatsapp://send?text={product.link}" data-action="share/whatsapp/share" target="_blank"><img src = "./assets/images/whatsapp.png" class="icon"></a>
                    <a href="https://t.me/share/url?url={{product.link}}" target="_blank"><img src = "./assets/images/telegram.png" class="icon"></a>
                </div>
                <app-product-alerts [product]="product" (notify)="onNotify()">
                </app-product-alerts>
            </div>  
            <div class="btns-box">
                <button class="share-button" (click)="like(i)">Like</button>
                <button class="share-button" (click)="remove(product.id)">Remove</button>
            </div>
        </div>
    </div>
</div>